/* 
Author: Imran Fakhrul
Email: imr.fakhrul@gmail.com
*/

/* 
	Variables
*/
:root {
  --body-bg: #e7e7e7;
  --color-primary: #5c0931;
  --color-text: #555;
  --white: #fff;
  --black: #000;
}

/* 
	Normalizer
*/
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--body-bg);
  font-size: 15px;
  font-family: Jotia_Regular, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text);
  margin: 0;
}

p {
  font-weight: 400;
  letter-spacing: 0;
  overflow: hidden;
  line-height: 22px;
  margin: 0;
  text-align: center;
}

img {
  max-width: 100%;
}
/* 
Common
*/

.section-title {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 1.2;
  margin-bottom: 10.5px;
}

.section-subtitle {
  padding: 0 0 20px;
}

/* 
	Header area styles
*/
.header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 10;
  padding: 10px 10%;
  box-shadow: 0 2px 22px rgb(0 0 0 / 38%);
  background-color: var(--white);
  top: 0;
}

.header-logo {
  width: 232px;
}

.header-navigation .menu-toggle {
  display: none;
}

.header-navigation-list {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-navigation-list .icon-plus {
  font-family: IcoFont;
  display: inline-block;
  transition: 0.1s;
}

.header-navigation-list .icon-plus::before {
  content: "\eac8";
}

.header-navigation-list .has-sub:hover > .dd-toggle .icon-plus {
  transform: rotate(180deg);
}

.header-navigation-list .has-sub {
  position: relative;
}

.header-navigation-list ul {
  position: absolute;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  left: 0;
  background-color: var(--white);
  width: 300px;
}

.header-navigation-list > .has-sub > ul {
  left: 0;
  top: 100%;
}

.header-navigation-list > .has-sub > ul ul {
  right: 100%;
  top: 0;
  left: auto;
}

.header-navigation-list ul li {
  padding: 10px 20px;
}

.header-navigation-list a {
  color: var(--black);
  text-decoration: none;
}

.header-navigation-list a {
  color: var(--black);
  text-decoration: none;
  transition: 0.6s ease-in-out;
  position: relative;
}

.header-navigation-list li:not(.iems-link) a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--color-primary);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.header-navigation-list li:not(.iems-link) a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header-navigation-list a:hover {
  color: var(--color-primary);
}

.header-navigation-list .iems-link a {
  border-radius: 5px;
  border: 1px solid var(--color-primary);
  padding: 5px 10px;
  background-color: var(--color-primary);
  color: var(--white);
}

.header-navigation-list .iems-link a:hover {
  background-color: var(--white);
  color: var(--color-primary);
  cursor: pointer;
}

.mobile-hamburger-menu {
  display: none;
}
/* 
	Hero area
*/
.hero-area {
  position: relative;
  margin-bottom: 60px;
}

.hero-area-wave {
  position: absolute;
  bottom: 0;
  left: 0;
}

.hero-area-wave,
.hero-area-wave img {
  width: 100%;
}

.hero-area-wave img {
  margin-bottom: -5px;
}

.hero-area-carousel {
  overflow: hidden;
  max-height: 400px;
}

.carousel-area {
  position: relative;
}

.hero-area-carousel.slick-initialized {
  max-height: initial;
}

.hero-carousel-item {
  width: 100%;
  overflow: hidden;
  position: relative;
  min-height: 400px;
  height: 50vh;
}

.hero-carousel-item * {
  color: var(--white);
}

.hero-background-image {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.hero_background-img img {
  width: 100%;
  height: 100%;
}
.main-navigation {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: translateY(30%);
}

.main-navigation ul {
  margin: 0 10%;
  border-radius: 8px;
  background-color: var(--color-primary);
  padding: 0;
  list-style: none;
  display: flex;
  /* overflow: hidden; */
}

.main-navigation li {
  flex: 1;
  /* overflow: hidden; */
}

.main-navigation li.has-sub {
  position: relative;
}

.main-navigation li.has-sub ul {
  display: none;
  margin: 0px;
  position: absolute;
  left: 0px;
  width: 100%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.main-navigation li.has-sub .dd-toggle {
  display: none;
}

.main-navigation .menu-toggle {
  display: none;
}

.main-navigation ul a {
  display: block;
  padding: 20px;
  text-decoration: none;
  text-align: center;
  color: var(--white);
  transition: 0.6s ease-in-out;
  overflow: hidden;
}
.main-navigation ul a:hover {
  color: var(--color-primary);
  background-color: var(--white);
}







/* about us start */
.about-us {
  padding: 40px 10% 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: center;
}
.section-title span{
  font-size: 35px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  margin-left: -38px;
}
.section-title span::after{
  content: "";
  position: absolute;
  top: 0px;
  right: -10px;
  background: var(--color-text);
  width: 1px;
  height: 50px;
}
.section-title span:hover{
  color: var(--color-primary);
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: var(--color-primary);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: var(--color-text);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
main{
  transition: margin-left 0.3s ease;
}
.about-us .description {
  text-align: justify;
  padding: 0 0 20px;
}

.about-video {
  height: 280px;
  text-align: center;
}

.about-video iframe {
  box-shadow: 0 2px 15px rgb(0 0 0 / 49%);
  border-radius: 8px;
  overflow: hidden;
  width: clamp(300px, 100%, 500px);
  object-fit: cover;
}


/* about us end */

/* counter_section */
.counter_section{
  background: var(--white);
  padding: 190px 10%;
  background: linear-gradient(135deg, rgba(25, 2, 13, 0.9), rgba(0, 0, 0, 0.35)), url("../cse.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.counter-container {
  display: flex;
  align-items: center;
}
.counter_box{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.counter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
  padding: 0 10px;
  width: calc(25% - 30px);
  text-align: center;
}

.counter h3 {
  padding: 0.5rem 0;
  font-size: 2.5rem;
  font-weight: 800;
  color: white;
}

.counter h6 {
  font-size: 2rem;
  padding-bottom: 1rem;
  color: white;
}

.icon {
  height: 5rem;
  width: auto;
}
/* vision mission */
.vision_mission{
  padding: 70px 10%;
  background-color: var(--body-bg);
}
.visionMission_contents{
  display: flex;
  align-items: center;
}
.visionMission_contents .visionmission_box{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.visionMission_contents .description_box{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
  padding: 0 10px;
  width: calc(33.33% - 30px);
  color: var(--black);
}
.visionMission_contents .description_box h2{
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 400;
  color: var(--black);
  margin-bottom: 20px;
}
.visionMission_contents .description_box p{
  max-width: 600px;
  text-align: center !important;
  color: #555;
  font-size: 18px;
}
/* google map */
.google_map{
  padding: 50px 0;
  background-color: var(--white);
}
/* visionmission end */
/* 
	Footer area
*/
.footer-main {
  padding: 20px 10% 20px;
  background-image: linear-gradient(180deg, #7e184e, #520c30);
}

.footer-wave {
  background-color: var(--white);
}

.footer-wave img {
  width: 100%;
  margin-bottom: -5px;
  /* margin-left: -1px; */
}

.footer-box {
  padding: 10px 30px 10px 10px;
  flex: 1 1 200px;
}

/* .footer-box:not(:first-child) {
  margin-top: 80px;
} */

.footer-main * {
  color: var(--white);
}

.footer-main a {
  text-decoration: none;
  display: inline-block;
}

.footer-main a:hover {
  text-decoration: underline;
}

.footer-main ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-logo img {
  width: 232px;
}

.footer-nav-boxes {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.footer-box.address address {
  margin-bottom: 20px;
  max-width: 250px;
  font-style: normal;
}

.address a {
  padding: 12px 0;
}

.footer-navigation a {
  padding: 10px;
  transition: 0.6s ease-in-out;
}

.approved-by-orgs {
  margin-top: 30px;
}

.approved-by-orgs > div:not(:last-child) {
  margin-bottom: 30px;
}

.footer-social-icons {
  margin: 30px 0;
}
/* Footer end */
/*preloader */
div#preloader{
    background: #2e0321 url(../assets/imgs/Bar-Preloader-1.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 10000;
}
/* preloader end */



