@media (max-width: 1136px){
  h2.hero-title {
    top: 90px;
    left: 25%;
  }
}
@media (max-width: 1024px) {
  h2.hero-title {
    top: 75px;
    left: 25%;
  }
  .why_study_IUS_description{
    width: 50%;
  }
  .why_study_IUS_description_img{
    width: 50%;
  }
  .why_study_IUS_description_img img {
    height: 280px;
  }
  .IUS_Admissions_Spring_description {
    width: 50%;
  }
  .Admissions_Spring_IUS_description_img{
    width: 50%;
  }
  .Admissions_Spring_IUS_description_img img {
    height: 280px;
    margin-top: 150px;
  }
  .btn_box {
    gap: 20px;
  }
  .btn_box a.All_Programs, .All_Tuition {
    font-size: 12px;
  }
}
@media (max-width: 968px){
  .IUS_Description_Box {
    display: block;
  }
  .why_study_IUS_description {
    width: 100%;
    margin-bottom: 50px;
  }
  .why_study_IUS_description_img {
    width: 100%;
  }
  .IUS_Admissions_Spring_description {
    width: 100%;
  }
  .Admissions_Spring_IUS_description_img {
    width: 100%;
  }
  .Admissions_Spring_IUS_description_img img {
    height: 320px;
    margin-top: 30px;
  }
  .btn_box {
    gap: 50px;
  }
  .btn_box a.All_Programs, .All_Tuition {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  h2.hero-title {
    top: 49px;
    left: 25%;
    font-size: 35px;
  }
  .header-navigation .menu-toggle {
    display: block;
  }

  .header-navigation-list {
    display: block;
    position: fixed;
    right: 0;
    top: 87px;
    background-color: rgba(0, 0, 0, 0.521);
    height: calc(100vh - 87px);
    padding: 30px 5%;
    width: 300px;
    backdrop-filter: blur(2px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .header-navigation-list ul {
    position: relative;
    background-color: transparent;
    width: auto;
  }

  .header-navigation-list > .has-sub > ul ul {
    right: auto;
    top: auto;
    left: auto;
  }

  .header-navigation-list .has-sub .dd-toggle {
    position: absolute;
    right: 0;
    top: 0;
  }

  .header-navigation-list .iems-link a {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 5px 0;
  }

  .header-navigation-list a:hover {
    color: var(--white);
  }

  .header-navigation-list li:not(.iems-link) a::after {
    content: none;
  }

  .header-navigation-list .has-sub.open > .dd-toggle .icon-plus {
    transform: rotate(180deg);
  }

  .header-navigation-list .has-sub:not(.open) > .dd-toggle .icon-plus {
    transform: rotate(0deg);
  }

  .header-navigation-list a {
    color: var(--white);
    display: block;
    padding: 5px 0;
  }
  .main-navigation {
    position: relative;
    left: auto;
    transform: none;
    margin-top: 25px;
  }

  .main-navigation.mobile > ul {
    display: block !important;
  }

  .main-navigation li.has-sub ul {
    position: relative;
  }

  .main-navigation .icon-plus {
    font-family: IcoFont;
  }

  .main-navigation .icon-plus::before {
    content: "\eee1";
  }

  .main-navigation li.has-sub .dd-toggle span {
    display: inline-block;
    transition: 0.1s;
  }

  .main-navigation li.has-sub:not(.open) .dd-toggle span {
    transform: rotate(45deg);
  }

  .main-navigation li.has-sub.open .dd-toggle span {
    transform: rotate(0deg);
  }

  .main-navigation li.has-sub .dd-toggle {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .main-navigation .dd-toggle:hover {
    background-color: transparent;
    color: var(--white);
  }
  h2.Why_study_IUS_title {
    font-size: 24px;
  }
  h2.Why_study_IUS_title span {
    display: none;
  }
  .main-navigation ul {
    margin: 0 5%;
  }
  .why_study_IUS_description_img img {
    height: 260px;
  }
  .Admissions_Spring_IUS_description_img img {
    height: 260px;
  }
  .logo-slider-area,
  .footer-main {
    padding: 50px 5% 100px;
  }

}

@media (max-width: 600px) {
  h2.hero-title {
    top: 40px;
    left: 22%;
    font-size: 28px;
  }
  .hero-area {
    margin-bottom: 0;
  }
  .btn_box {
    gap: 20px;
  }
  .Admissions_Spring_IUS_description_img img {
    height: 228px;
  }
  .why_study_IUS_description {
    margin-bottom: 20px;
  }
  .why_study_IUS_description_img img {
    height: 160px;
  }
  .Admissions_Spring_IUS_description_img img {
    height: 160px;
  }
  /* .main-navigation ul {
    display: block;
  } */
}

@media (max-width: 475px) {
  h2.hero-title {
    top: 20px;
    left: 25%;
    font-size: 20px;
  }
  .why_study_IUS_description a.Apply_now {
    display: block;
    text-align: center;
    }
  .btn_box {
    display: block;
  }
  .btn_box a.All_Programs, .All_Tuition {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
}
@media (max-width: 375px){
  h2.hero-title {
    top: 20px;
    left: 15%;
    font-size: 20px;
  }
}
@media (max-width: 375px){
  h2.hero-title {
    top: 15px;
    left: 10%;
    font-size: 20px;
  }
}
